*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

header{
        width: 100vw;
        height: 100vh;
        background-image: url('./Images/nature-3616194_640.jpg');
        background-position: bottom;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;


}

.content{
    text-align: center;
    margin-bottom: 150px;
}

.content h2{
    font-size: 2rem;
    margin-top: 8rem;
}

.subline{
    width: 150px;
    height: 3px;
    margin: 10px auto;
    background-color: royalblue;
    border-radius: 5px;
    
}

.content h1{
    margin-top: 50px;
    font-size: 2rem;
    margin-bottom: 30px;
}

.btn{
    padding: 8px 15px ;
    background: royalblue;
    border-radius: 25px;
    color:rgb(248, 245, 238);

}